@media (min-width: 992px) and (max-width: 1399px) {
    .wide-screen-map .map-container .mapboxgl-map {
      width: 450px !important;
      height: 600px !important;
    }
    .wide-screen-map {
      max-width: fit-content !important;
      height: 600px !important;
    }
}

.card {
  background-color: #080231 !important;
  border-color: rgb(162, 180, 196) !important;
}
.card-text {
  color: #ffffff !important;
}
.listing-background {
  position: relative !important;
  max-height: 605px !important;
  overflow: hidden !important;
}

.listing-background::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 8px !important;
  width: 100% !important;
  height: 100% !important;
  background-image: url('../../../images/listing-background.png');
  filter: blur(5px) !important;
  z-index: -1 !important;
  transform: scale(1.2) !important;
}

.card-list {
  max-height: 605px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

/* Styling for the vertical scrollbar */
.card-list::-webkit-scrollbar {
  width: 12px !important;
}

.card-list::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
}

.card-list::-webkit-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 6px !important;
}

.card-list::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}