.mylisting-header {
    font-size: 15px;
    color: #080231;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 10px 0px 10px 30px;
}

hr {
    border: 1px solid;
    color: white;
}
